.cell {
    border: 1px #a5d1de solid;
    width: 25px;
    height: 25px;
    float: left;
    background-color: white;
    cursor: pointer;
}

.start {
    background-color: #59d059;
}

.end {
    background-color: #f55e5e;
}

.grid-container {
    margin: 0 auto;
    width: 1350px;
    overflow: hidden;
}

.button-group {
    margin: 1% 0
}

.btn-item {
    padding-right: 2%;
}