<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pathfinder</title>
    <link rel="stylesheet" href="/static/index.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

{{ $grid := .Grid }}
{{ $rowsSize := .Rows }}
{{ $colsSize := .Cols }}


<div style="width: 400px">
    <label for="algo">Search Algorithm:</label>
    <select name="algorithms" id="algo">
        <option value="0">Dijkstra</option>
        <option value="1">A* Search</option>
        <option value="2">Both sides</option>
    </select>
    <br>
    <button onclick="start()">START</button>
    <br>
    <button onclick="clearGrid()">CLEAR</button>
    <br>
    <button onclick="randomizePoints()">Random Points</button>
</div>



<div id="grid" class="grid-container">
    {{range $row := $grid}}
        {{range $cell := $row}}
            {{if $cell.IsStart}}
                <div id="{{$cell.Id}}" class="cell start" onmousedown="mouseDown()" onmouseup="mouseUp()" onmouseover="hover(this)"></div>
            {{end}}
            {{if $cell.IsEnd}}
                <div id="{{$cell.Id}}" class="cell end" onmousedown="mouseDown()" onmouseup="mouseUp()" onmouseover="hover(this)"></div>
            {{end}}
            {{if $cell.IsNormal}}
                <div id="{{$cell.Id}}" class="cell" onmousedown="mouseDown()" onmouseup="mouseUp()" onmouseover="hover(this)"></div>
            {{end}}
        {{end}}
    {{end}}
</div>

<script src="/static/grid.js"></script>
<script>
    let grid = {{$grid}}
    let r = {{$rowsSize}}
    let c = {{$colsSize}}
    let startNode = {{.StartId}}
    let endNode = {{.EndId}}

    function start() {
        let algoId = document.getElementById("algo").value
        sendGridState(algoId)
    }

    function paintDiscovery(status) {
        if (status.Data.length === 0) {
            for (let i = 0; i < status.Path.length; i++) {
                setTimeout(() => {
                    this.paintPath(status.Path)
                }, 10 * i);
            }
        } else {
            for (let i = 1; i <= status.Data.length; i++) {
                if (i === status.Data.length) {
                    setTimeout(() => {
                        this.paintPath(status.Path)
                    }, 10 * i);
                }
                let node = status.Data[i]
                setTimeout(function () {
                    document.getElementById(node.Id).style.backgroundColor = "#47acfc"
                }, 10 * i);
            }
        }
    }

    function paintPath(path) {

        for (let i = 0; i < path.length; i++) {
            let node = path[i]
            setTimeout(function () {
                document.getElementById(node.Id).style.backgroundColor = "yellow"
            }, 10 * i);
        }
    }

    function clearGrid() {
        console.log("CLEAR")
        for (let i = 0; i < r; i++) {
            for (let j = 0; j < c; j++) {
                document.getElementById(grid[i][j].Id).style.backgroundColor = "white"
            }
        }
        wall = []
        document.getElementById(startId).style.backgroundColor = "#59d059"
        document.getElementById(endId).style.backgroundColor = "#f55e5e"
    }



</script>

</body>
</html>